In [13]:
import pandas as pd

In [4]:
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt" #url with formatting to fill in the number of the particular week
    dfs = []
    for week_num in week_nums: #for each week
        file_url = url.format(week_num) #format the url so it grabs that week
        dfs.append(pd.read_csv(file_url)) #append to our empty list
    return pd.concat(dfs) #combine files for each week
        
week_nums = [210515, 210508, 210501, 210424, 210417, 210410, 210403, 210327, 210320, 210313, 210306]
turnstiles_df = get_data(week_nums) #use our function to get a df with all of our data

In [5]:
turnstiles_df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2021,00:00:00,REGULAR,7568196,2585862
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2021,04:00:00,REGULAR,7568207,2585868
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2021,08:00:00,REGULAR,7568213,2585880
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2021,12:00:00,REGULAR,7568245,2585920
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2021,16:00:00,REGULAR,7568357,2585940
...,...,...,...,...,...,...,...,...,...,...,...
209070,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/05/2021,04:00:00,REGULAR,5554,544
209071,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/05/2021,08:00:00,REGULAR,5554,544
209072,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/05/2021,12:00:00,REGULAR,5554,544
209073,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/05/2021,16:00:00,REGULAR,5554,544
209074,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/05/2021,20:00:00,REGULAR,5554,544

In [6]:
turnstiles_df.shape

(2299530, 11)

In [11]:
turnstiles_df.to_csv('mta_data_all.csv', header = False, index = False)

In [14]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///mta.db")
all_data = pd.read_sql('SELECT * FROM mta_data', engine)

In [15]:
all_data.shape

(2299530, 11)

In [16]:
all_data

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2021,00:00:00,REGULAR,7568196,2585862
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2021,04:00:00,REGULAR,7568207,2585868
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2021,08:00:00,REGULAR,7568213,2585880
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2021,12:00:00,REGULAR,7568245,2585920
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/08/2021,16:00:00,REGULAR,7568357,2585940
...,...,...,...,...,...,...,...,...,...,...,...
2299525,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/05/2021,04:00:00,REGULAR,5554,544
2299526,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/05/2021,08:00:00,REGULAR,5554,544
2299527,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/05/2021,12:00:00,REGULAR,5554,544
2299528,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/05/2021,16:00:00,REGULAR,5554,544
2299529,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/05/2021,20:00:00,REGULAR,5554,544